---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { academicBackground } from "./data";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        academicBackground.map((a) => (
            <li class="mb-10 ms-4">
                <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700" />
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                    {a.beginYear}-{a.endYear}
                </time>
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    {t(a.title as any)}
                </h3>
                <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                    {t(a.description as any)}
                </p>
            </li>
        ))
    }
</ol>
