---
interface Props {
    title: string;
    jobPosition: string;
    technologies: string[];
}

const { title, jobPosition, technologies } = Astro.props;
---

<div
    class="block w-2/3 p-6 border rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:hover:bg-gray-700"
>
    <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
        {title}
    </h5>

    <h6
        class="mb-2 text-2xl font-light tracking-tight text-gray-900 dark:text-white"
    >
        {jobPosition}
    </h6>

    {
        technologies.map((t) => (
            <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-gray-700 dark:text-gray-300">
                {t}
            </span>
        ))
    }
</div>
