---
import { SEO } from "astro-seo";
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
const { currentLocale } = Astro;
---

<html lang={currentLocale} class="h-full dark">
    <head>
        <SEO
            charset="utf-8"
            title="Crhistian Beteta Navarro"
            description="Crhistian Beteta Navarro, graduado en Ingeniería Informática por la Universidad de Castilla-La Mancha"
            openGraph={{
                image: {
                    url: "https://crhistianbeteta.github.io/me-og.png",
                    type: "image/png",
                    alt: "Crhistian Beteta Navarro",
                },
                basic: {
                    title: "Crhistian Beteta Navarro",
                    type: "image/png",
                    image: "https://crhistianbeteta.github.io/me-og.png",
                },
            }}
            twitter={{
                creator: "@Crhistian1797",
                image: "https://crhistianbeteta.github.io/me-og.png",
                card: "summary_large_image",
                imageAlt: "Crhistian Beteta Navarro. Ingeniero informático",
                site: "https://crhistianbeteta.github.io/",
                description:
                    "Crhistian Beteta Navarro, graduado en Ingeniería Informática por la Universidad de Castilla-La Mancha",
                title: "Crhistian Beteta Navarro. Ingeniero informático",
            }}
            extend={{
                // extending the default link tags
                link: [{ rel: "icon", href: "/logo.png" }],
                // extending the default meta tags
                meta: [
                    {
                        name: "twitter:image",
                        content: "https://crhistianbeteta.github.io/me-og.png",
                    },
                    {
                        name: "twitter:title",
                        content: "Crhistia Beteta Navarro",
                    },
                    {
                        name: "twitter:description",
                        content: "Ingeniero informático",
                    },
                ],
            }}
        />
        <link rel="icon" type="image/svg+xml" href="/logo.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="keywords"
            content="software, programación, Crhistian, Beteta Navarro, Ingeniería Informática"
        />
        <script
            is:inline
            src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
        ></script>
    </head>

    <body>
        <header>
            <NavBar />
        </header>
        <main class="flex flex-col">
            <div class="grow">
                <slot />
            </div>
        </main>
    </body>
</html>
