---
import { SEO } from "astro-seo";
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
const { currentLocale } = Astro;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<html lang={currentLocale} class="h-full dark">
    <head>
        <SEO
            charset="utf-8"
            title="Crhistian Beteta Navarro"
            description="Crhistian Beteta Navarro, graduado en Ingeniería Informática por la Universidad de Castilla-La Mancha"
            openGraph={{
                image: {
                    url: "https://crhistianbeteta.github.io/me-og.png",
                    type: "image/png",
                    alt: "Crhistian Beteta Navarro",
                },
                basic: {
                    title: "Crhistian Beteta Navarro",
                    type: "image/png",
                    image: "https://crhistianbeteta.github.io/me-og.png",
                },
            }}
            twitter={{
                creator: "@Crhistian1797",
                image: "https://crhistianbeteta.github.io/me-og.png",
                card: "summary_large_image",
                imageAlt: "Crhistian Beteta Navarro. Ingeniero informático",
                site: "https://crhistianbeteta.github.io/",
                description:
                    "Crhistian Beteta Navarro, graduado en Ingeniería Informática por la Universidad de Castilla-La Mancha",
                title: "Crhistian Beteta Navarro. Ingeniero informático",
            }}
            extend={{
                // extending the default link tags
                link: [{ rel: "icon", href: "/logo.png" }],
                // extending the default meta tags
                meta: [
                    {
                        name: "twitter:image",
                        content: "https://crhistianbeteta.github.io/me-og.png",
                    },
                    {
                        name: "twitter:title",
                        content: "Crhistia Beteta Navarro",
                    },
                    {
                        name: "twitter:description",
                        content: "Ingeniero informático",
                    },
                ],
            }}
        />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link rel="sitemap" href="/sitemap.xml" />
        <link rel="icon" type="image/svg+xml" href="/logo.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="keywords"
            content="software, programación, Crhistian, Beteta Navarro, Ingeniería Informática"
        />
        <script
            is:inline
            src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"
        ></script>
    </head>

    <body class="min-h-screen flex flex-col">
        <header>
            <NavBar />
        </header>
        <main class="flex flex-col flex-grow flex items-center justify-center">
            <div class="grow">
                <slot />
            </div>
        </main>

        <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
            <div
                class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-end"
            >
                <div
                    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
                >
                    <span
                        class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
                        >© 2023 <a href="/" class="hover:underline"
                            >Crhistian Beteta</a
                        >. {t("footer.all_right_reserved")}
                    </span>
                    <ul
                        class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
                    >
                        <li>
                            <a href="/sitemap-index.xml" class="hover:underline"
                                >{t("footer.sitemap")}</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
